name = "OMEinsum"
uuid = "ebe7aa44-baf0-506c-a96f-8464559b3922"
authors = ["Andreas Peter <andreas.peter.ch@gmail.com>"]
version = "0.3.1"

[deps]
BatchedRoutines = "a9ab73d0-e05c-5df1-8fde-d6a4645b8d8e"
Combinatorics = "861a8166-3701-5b0c-9a16-15d98fcdc6aa"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
MacroTools = "1914dd2f-81c6-5fcd-8719-6d5c9610ff09"
PkgBenchmark = "32113eaa-f34f-5b0d-bd6c-c81e245fc73d"
Requires = "ae029012-a4dd-5104-9daa-d747884805df"
TensorOperations = "6aa20fa7-93e2-5fca-9bc0-fbd0db3c71a2"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
TupleTools = "9d95972d-f1c8-5527-a6e0-b4b365fa01f6"
ZygoteRules = "700de1a5-db45-46bc-99cf-38207098b444"

[compat]
BatchedRoutines = "0.2"
Combinatorics = "1.0"
MacroTools = "0.5"
PkgBenchmark = "0.2"
Requires = "0.5, 1"
TensorOperations = "2.1"
TupleTools = "1.2"
ZygoteRules = "0.2"
julia = "1"

[extras]
DoubleFloats = "497a8b3b-efae-58df-a0af-a86822472b78"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
ProgressMeter = "92933f4c-e287-5a05-a399-4b506db050ca"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
SymEngine = "123dc426-2d89-5057-bbad-38513e3affd8"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
Zygote = "e88e6eb3-aa80-5325-afca-941959d7151f"

[targets]
test = ["Test", "LinearAlgebra", "ProgressMeter", "SymEngine", "Random", "Zygote", "DoubleFloats"]
